<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Game</title>
    <link rel="stylesheet" href="css/dungeon.css">
</head>
<body>
<div class="container">
    <div class="health-bar">
        <div id="health-progress"></div>
    </div>
    <div class="game">
        <div id="room-description" class="text-block">
            <!-- Room description will be displayed here -->
        </div>
        <input type="text" id="user-input" class="input-section" placeholder="Enter your move (N, E, S, W)">
        <button id="submit-button">Submit</button>
    </div>
</div>

<script src="javascript/dungeon.js"></script>
</body>
</html>
